body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.heading_container h2 {
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.heading_container h2 span {
        color:  #007bff;
    }
    

.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55px;
  height: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*header section*/
.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .nav-item:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
      
.hero_area {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          background:linear-gradient(to bottom, #868c8d 0%, #007bff 100%);
  /* background-image: url(../images/hero-bg.jpg); */
  background-size: cover;
  background-attachment: fixed;
}

.detail-box img {
        max-width: 300px; /* Ensures the image doesn't exceed its container */
        height: auto; /* Maintains aspect ratio */
        display: block; /* Ensures proper rendering */
        margin-left: auto; /* Center the image horizontally */
        margin-right: auto; /* Center the image horizontally */
    }
    

.sub_page .hero_area {
  height: auto;
}

.sub_page .who_section.layout_padding {
  padding-top: 0;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  background-color: white;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 10px 30px;
  padding: 0;
  color: #000000;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
}




    /* Media queries for mobile responsiveness */
    @media (max-width: 991px) {
        .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
            margin: 10px 15px; /* Adjust margin for smaller devices */
            font-size: 14px; /* Adjust font size for smaller devices */
        }
    }

    @media (max-width: 767px) {
        .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
            margin: 8px 10px; /* Further adjust margin for even smaller devices */
            font-size: 13px; /* Further adjust font size for even smaller devices */
        }
    }
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active a::after, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover a::after {
  display: block;
  top: 30px;
  background-color: #0095eb;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}


.login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: transparent; /* You can change the color to suit your design */
        color: #fff; /* Text color */
        transition: background-color 0.3s ease;
    }
    
    .login-btn:hover {
        font-weight: bold;        
}
    
    .login-btn i {
        margin-right: 8px; /* Adjust the space between icon and text */
    }
    

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  color: #ffffff;
  margin: 10px 30px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;

  
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar-brand span img {
        margin-left: 20px;
        width: 200px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}


    .navbar-toggler-icon::before {
        content: "\2630"; /* Unicode for the typical hamburger icon */
        color: rgb(20, 19, 19); /* Change the color to whatever you want */
    }


/* use section */

.card_section {
        background: linear-gradient(to bottom, #f4f4f4 0%, #007bff 100%);
        padding: 20px 0; /* Adjusted padding for smaller screens */
      }
      
      .card_section .card-body {
        margin-bottom: 10px; /* Adjusted margin for smaller screens */
      }
      
      .card {
        margin-top: 10px; /* Adjusted margin for smaller screens */
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: pointer;
        border: 1px solid rgb(233, 232, 232); /* Reduced border thickness */
        border-radius: 10px; /* Reduced border radius */
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Reduced box shadow */
      }

      @media only screen and (max-width: 768px) {
        .card {
          margin-top: 5px; /* Adjusted margin for smaller screens */
          border: 1px solid rgb(233, 232, 232); /* Reduced border thickness */
          border-radius: 8px; /* Reduced border radius */
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Reduced box shadow */
        }
      }
      
      
      .card:hover {
        transform: scale(1.03);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjusted box shadow on hover */
      }
      
      .hover-zoom:hover {
        transform: scale(1.05);
      }
      
      .hover-zoom {
        transition: transform 0.3s;
      }
      
      .card-body i {
        color: #007bff;
      }
      
      .btn-read-more {
        background: #007bff;
        color: white;
        border: none;
        padding: 8px 16px; /* Adjusted padding for smaller screens */
        margin: 10px 20px; /* Adjusted margin for smaller screens */
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background 0.3s;
      }
      
      @media only screen and (max-width: 768px) {
        .btn-read-more {
          padding: 6px 12px; /* Further adjusted padding for smaller screens */
          margin: 10px 10px; /* Further adjusted margin for smaller screens */
        }
      }
      


      .custom_nav-container .navbar-nav .nav-item .nav-link {
        margin: 10px 15px; /* Adjusted margin for better spacing */
        padding: 10px 15px; /* Adjusted padding for better touchability */
        color: #000000;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 15px;
    }
    
    .custom_nav-container .navbar-nav .nav-item .nav-link::after {
        display: none; /* Removed the underline effect for all screen sizes */
    }
    
    @media (max-width: 991.98px) {
        .custom_nav-container .navbar-nav .nav-item .nav-link {
            margin: 10px; /* Adjusted margin for better spacing */
            padding: 10px; /* Adjusted padding for better touchability */
        }
    }
    

/*end header section*/
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .box {
  margin: 125px 0;
}

.slider_section .detail-box {
  text-align: start;
}

.slider_section .detail-box h1,
.slider_section .detail-box h2,
.slider_section .detail-box h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.slider_section .detail-box h2 {
  font-size: 2.5rem;
}

.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-weight: 0;
  letter-spacing: .5rem;
}

.slider_section .detail-box p {
  margin-top: 25px;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: black;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
}

.slider_section .detail-box a:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.slider_section #carouselExampleIndicators .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carouselExampleIndicators .carousel-indicators li {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carouselExampleIndicators .carousel-indicators li.active {
  border: 4px solid #ffffff;
}

.us_section {
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
}

.us_section .us_container {
  padding-top: 25px;
}

.us_section .us_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px 10px 0 10px;
}

.us_section .us_container .box .img-box {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.us_section .us_container .box .img-box img {
  max-width: 100%;
}

.us_section .us_container .box .detail-box h5 {
  font-weight: bold;
}

/* WHY PAYPLEX */

.heathy_section {
  background-size: cover;
  background-attachment: fixed;
}

.heathy_section .row .card {
        height: 150px; /* Adjust the height as needed */
        text-align: center;
        padding-top: 20px;
        margin: 10px;
      }
      
      .card i {
        margin-bottom: 12px;
        color:  #007bff;
      }
      
 /* web and mobile */

 .gradient {
        background: linear-gradient(70deg, rgb(126, 103, 207) 0%, rgb(26, 202, 251) 67%);
      }
      
      .trainer_section {
        background-size: cover;
        background-attachment: fixed;
        color: #ffffff;
      }
      
      .trainer_section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .trainer_section .container img {
        width: 100%;
        max-width: 400px; /* Set maximum width */
      }
      
      .iteam2 {
        text-align: center;
        justify-content: center;
        margin-top: 10vh;
      }
      
      .trainer_section .container .iteam2 .playimg img {
        width: 100%; /* Make image responsive */
        max-width: 170px; /* Set maximum width */
        margin-top: 20px;
      }
      
      /* Media query for mobile devices */
      @media screen and (max-width: 768px) {
        .trainer_section .container img {
          max-width: 300px; /* Adjust maximum width for smaller screens */
        }
      
        .trainer_section .container .iteam2 .playimg img {
          max-width: 120px; /* Adjust maximum width for smaller screens */
        }
      }
      


/* our Blog */


.OurBlog {  
        padding: 20px; /* Decrease padding for smaller screens */       
        position: relative;
        background-color: #ffffff;
        border-top-left-radius: 50PX;
        border-top-right-radius: 50PX;
     }
     
     .card-container {
        display: flex;
        flex-wrap: wrap; /* Allow cards to wrap to the next line */
        justify-content: center;
     }
           
     .item {
        width: calc(30% - 40px); /* Adjust card width for smaller screens */
        margin: 10px; /* Decrease margin for smaller screens */
        background-color: #fff;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
     }
           
     .item:hover {
        transform: translateY(-5px);
     }
           
     .item img {
        width: 100%;
        height: auto;
        overflow: hidden;
     }
           
     .card-info {
        padding: 15px;
     }
           
     .card-info h2 {
        margin-top: 0;
        margin-bottom: 5px; /* Decrease margin for smaller screens */
     }
           
     .card-info p {
        margin: 0;
        font-size: 12px; /* Decrease font size for smaller screens */
        color: #303030;
     }

     @media screen and (max-width: 768px)  {
        .card-info h2 {
               font-size: 6PX;
               font-weight: bold;
        }

        .card-info p {
                text-align: center;
                font-size: 8px;
        }
     }
     


.info_section {
  background-color: #ffffff;
}


.slideshow-container {
        margin-top: 20px;
        gap: 30px;
        display: flex; /* Use flexbox for layout */
        overflow-x: hidden; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent wrapping */
    }
    
    .mySlides {
        display: inline-block;
        flex: 0 0 auto; /* Ensure each slide takes its natural width */
        margin-right: 10px; /* Adjust margin between slides */
    }
    .mySlides  img {
        width: 200px;
    }
    /* Optional: Hide scrollbar */
    .slideshow-container::-webkit-scrollbar {
        display: none;
    }

    .left-btn {
        position: absolute;
        left: 10px;
    }
    
    .right-btn {
        position: absolute;
        right: 10px;
    }

/* footer section*/
.footer_section {
        background:linear-gradient(70deg, rgb(126, 103, 207) 0%, rgb(26, 202, 251) 67%);
        padding: 10px;
        font-weight: 400;
    }
    
    .fsection {
        margin: 10vh 10vh;
        color: white;
    }
    
    .fsection h1, .fsection p {
        color: white;
        margin: 25px;
        letter-spacing: 2px;
    }

    .fsection a {
        text-decoration: none;
        color: white;
    }
    
    .fsection {
        line-height: 2rem;
    }
    .copyrights  {
        background-color:(70deg, rgb(126, 103, 207) 0%, rgb(26, 202, 251) 67%);
        padding: 10px 30px;
        color: white;
        border-top: 1px solid #ddd;
    }

    .copyrights p {
        color: white;
}

    
    .social-icons {
        display: flex;
        justify-content: flex-end;
    }
    
    .social-icon {
        margin-right: 20px;
        text-decoration: none;
        color: #333;
    }
    
    .social-icon i {
        margin-right: 5px;
    }
    
    .social-icon:hover {
        color: #007bff;
    }
    
    

/* end footer section*/
/*# sourceMappingURL=style.css.map */